html {
  background: #F2F2F2; }

body {
  width: 100%;
  color: #666A73;
  display: block;
  margin: auto;
  max-width: 800px;
  margin-bottom: 25px; }

main {
  margin-top: 10px; }

#transcript {
  margin-top: 30px; }

h1 {
  font-weight: 800;
  margin-left: 50px; }

p {
  width: 85%;
  max-width: 700px;
  font-size: 1.233rem;
  display: block;
  margin: auto;
  max-width: 800px;
  margin-bottom: 5px;
  cursor: pointer; }

.hlight {
  color: #e68a00; }

.mejs-skin .mejs-controls {
  background: none;
  height: 26px;
  width: 100%; }
  .mejs-skin .mejs-controls .mejs-button {
    float: right;
    position: absolute;
    z-index: 2; }
  .mejs-skin .mejs-controls .mejs-playpause-button {
    left: 10px;
    bottom: 1px;
    width: 10px;
    height: 10px;
    padding: 2px;
    cursor: pointer; }
  .mejs-skin .mejs-controls .mejs-play {
    content: url("..//icons/play-icon.png");
    cursor: pointer;
    width: 12px;
    height: 12px;
    padding: 4px;
    bottom: 0px; }
  .mejs-skin .mejs-controls .mejs-pause {
    content: url("..//icons/pause-icon.png");
    cursor: pointer;
    width: 12px;
    height: 12px;
    padding: 4px;
    bottom: 0px; }
  .mejs-skin .mejs-controls .mejs-fullscreen-button {
    content: url("..//icons/fullscreen-icon.png");
    right: 5px;
    cursor: pointer;
    width: 12px;
    height: 12px;
    padding: 4px;
    bottom: 0px;
    bottom: 2px; }
  .mejs-skin .mejs-controls .mejs-volume-button {
    right: 25px;
    bottom: 0px; }
@-moz-document url-prefix() {
  .mejs-skin .mejs-controls .mejs-play {
    cursor: pointer;
    position: absolute;
    bottom: -2px;
    visibility: visible;
    background: url(..//icons/play-icon.png) no-repeat;
    background-size: contain;
    width: 1px; }
    .mejs-skin .mejs-controls .mejs-play button {
      display: none; }
  .mejs-skin .mejs-controls .mejs-pause {
    background: url(..//icons/pause-icon.png) no-repeat;
    width: 1px;
    background-size: contain;
    cursor: pointer;
    position: absolute;
    bottom: -2px;
    visibility: visible; }
    .mejs-skin .mejs-controls .mejs-pause button {
      display: none; }
  .mejs-skin .mejs-controls .mejs-fullscreen-button {
    background: url(..//icons/fullscreen-icon.png) no-repeat;
    right: 7px;
    width: 6px;
    background-size: contain; }
    .mejs-skin .mejs-controls .mejs-fullscreen-button button {
      display: none; } }
  .mejs-skin .mejs-controls .mejs-caption-selector {
    background: none; }
  .mejs-skin .mejs-controls .mejs-captions-selector {
    position: absolute;
    right: -25px; }
  .mejs-skin .mejs-controls .mejs-captions-button {
    right: 50px;
    bottom: -1px; }
  .mejs-skin .mejs-controls .mejs-time {
    position: absolute;
    left: 40px; }
  .mejs-skin .mejs-controls .mejs-time-rail {
    position: absolute;
    bottom: 31px;
    height: 5px;
    z-index: 1; }
  .mejs-skin .mejs-controls .mejs-time-loaded {
    height: 7px;
    border-radius: 0px;
    background: rgba(205, 205, 205, 0.22); }
  .mejs-skin .mejs-controls .mejs-time-total {
    height: 7px;
    border-radius: 0px;
    background: rgba(5, 5, 5, 0.7); }
  .mejs-skin .mejs-controls .mejs-time-buffering {
    height: 7px;
    border-radius: 0px; }
  .mejs-skin .mejs-controls .mejs-time-handle {
    height: 7px;
    border-radius: 0px; }
  .mejs-skin .mejs-controls .mejs-time-current {
    height: 7px;
    border-radius: 0px;
    background: #ff9900; }

/*# sourceMappingURL=styles.css.map */
