html{
    background:$almostwhite;
   
}
body{
    width:80%;
    color:$text;
    @include auto-margin;
    margin-bottom: 25px;
}
#transcript{
margin-top: 30px;
}
h1{
    font-weight: 800px;
    margin-left:50px;
}
p{
    width:85%;
    max-width: 700px;
    font-size: 1.233rem; 
    @include auto-margin;
    margin-bottom: 5px;
    cursor: pointer;
}

.hlight{
color:darken($Burnt_Sienna, 5%);
  animation:fadeIn ease-in 700;
}
