.mejs-skin{
    .mejs-controls {
        background: none;
        height: 30px;
        width:100%;
       
       
            .mejs-button{
                    display: none;
            }
            .mejs-duration{
                    display: none;
            }
      
     
             .mejs-skin:hover .mejs-button{
                 
            }
            .mejs-captions-selector {
                    width: 100px;
                    right:-50px;
            }
            .mejs-time-rail {
              margin-bottom: 50px;
            }
        
        .mejs-time-loaded{
             @include player-height;
            background:$tgrey;
        }
        .mejs-time-total{
            @include player-height;
            background:$tblack;
            
        }
        .mejs-time-buffering{ 
            @include player-height;
        }
        .mejs-time-handle{
            @include player-height;
          
        }
        .mejs-time-current{
            @include player-height;
            background:$Burnt_Sienna;
        }
        .mejs-time-float{
            border:none;
            background:none;
            color: $twhite;
}
    
}

}
  .mejs-skin:hover{
      .mejs-button{
        display: inherit;
          
      }
    }


