
.mejs-skin{
   
    .mejs-controls {
        background: none;
        height: 26px;
        width:100%;
        
            .mejs-button{
                float:right;
                position: absolute;
                z-index: 2;
        }
            .mejs-playpause-button{
                left:10px;
                bottom:1px;
                width:10px;
                height: 10px;
                padding:2px;
                cursor: pointer;}
        .mejs-play{
            content:url('..//icons/play-icon.png');
           
            @include button;
        }
        .mejs-pause{
            content:url('..//icons/pause-icon.png');
            @include button;
        }
        .mejs-fullscreen-button{
              content:url('..//icons/fullscreen-icon.png');
               right:5px;
                @include button;
            bottom:2px;
             }
         .mejs-volume-button{
                right:25px;
                bottom:0px;
        }
        
                @-moz-document url-prefix() {
            .mejs-play{
                @include button-m;
                background: url(..//icons/play-icon.png) no-repeat;
                background-size:contain;
                width:1px;
                button{
                    display: none;
                }
            }
           
            .mejs-pause{
               
                background: url(..//icons/pause-icon.png) no-repeat;
                width:1px;
                background-size:contain;
                button{display: none}
                @include button-m;
            }
            .mejs-fullscreen-button{
             background: url(..//icons/fullscreen-icon.png) no-repeat;

                right:7px;
                width:6px;
                background-size:contain;
                button{
                    display: none;
                }
            
        }

}

      
            .mejs-caption-selector {
                background:none;}

            .mejs-captions-selector {
                position: $ab;
                right:-25px;    
            } 
            .mejs-captions-button{
                right:50px;
                bottom:-1px;
            }
           
            .mejs-time{
                position: $ab;
                left:40px;  
            }
            .mejs-time-rail {
                position: $ab;
                bottom:31px; 
                height: 5px;
                z-index: 1;
            }
  
        .mejs-time-loaded{
            @include player-height;
            background:$tgrey;
            
        }
        .mejs-time-total{
            @include player-height;
            background:$tblack;
            
        }
        .mejs-time-buffering{ 
            @include player-height;
        }
        .mejs-time-handle{
            @include player-height;
          
        }
        .mejs-time-current{
            @include player-height;
            background:$Burnt_Sienna;
        }
      
    
}
    

}