$blueshark   : #023859;
$greyblue    : #5E6D8C;
$almostwhite : #F2F2F2;
$text        : #666A73;
$Burnt_Sienna: #ff9900;
$twhite      : rgba(250,250,250, .7);
$tgrey       : rgba(205,205,205,.22);
$tblack      : rgba(5,5,5, .7);


$ab   : absolute;